.itemContainer {
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

.closeBtn {
  color: brown;
  font-weight: 800;
  width: 30px;
  height: 30px;
}

.closeBtn:hover {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: darkgreen;
}
.prevDate{
  color: brown;
}